body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(./dd1.jpg);
    background-size: cover;
}

.form-gap {
    padding-top: 70px;
}
.btn-primary {
    color: #fff;
    background-color: #004195!important;
    border-color: #357ebd;
}

.btn-block {
    display: block;
    border-radius: unset; 
    border-radius: 14px !important;
    width: 100%;
}
.container{
    border-radius: 50 px !important;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 14px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}